<!DOCTYPE html>
<html>
<head>
    <title>我的日报</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/reportStyle.css' />
    <link rel='stylesheet' href='/css/pepper-grinder/jquery-ui-1.10.3.custom.min.css' />
    <script type="text/javascript" src='/js/jquery-1.9.1.min.js'></script>
    <script type="text/javascript" src='/js/jquery-ui-1.10.3.custom.min.js'></script>
    <script type="text/javascript" src='/js/bootstrap.min.js'></script>

</head>
<body class="myreports">
<header class="navbar">
    <a class="brand" href="/" title="home page">Daily Report</a>
    <ul class="nav">
        <li ><a href="/write">写日报</a></li>
        <li class="active"><a href="/show">我的日报</a></li>
        {{#if hasSubordinate}}
        <li ><a href="/showsubordinate">下属日报</a></li>
        {{/if}}
        <li ><a href="/showcolleague">同事日报</a></li>
        <li ><a href="/password">修改密码</a></li>
        {{#if isAdmin}}
        <li ><a href="/admin">管理员控制台</a></li>
        {{/if}}
        {{#if isLoginUser}}
        <li ><a href="/logout">退出</a></li>
        {{/if}}
    </ul>
    <a class="logo" href="/" title="home page"><img src="/img/logo.png"></a>
</header>
<div id="dialog-confirm" title="删除日报" style="display:none">
    <p>确认要删除该日报吗？</p>
</div>
<section class="container">
    <div class="title"> <i class="icon-book"></i><h1>日报内容</h1></div>

    <article id="reportList" >
        <ul class="unstyled" data-bind="foreach: reports">
            <li class="report">
                <p class="date"><i class="icon-calendar"></i><span data-bind="text: date"></span></p>
                <div data-bind="visible: !$parent.editable()">
	                <h5>今日日志</h5><div class="content" data-bind="html: content"></div>
	                <h5>今日自评</h5><div class="content" data-bind="text: mark"></div>
	                <h5>行得通的</h5><div class="content" data-bind="text: content1"></div>
	                <h5>待提高的</h5><div class="content" data-bind="text: content2"></div>
	                <h5>明日计划</h5><div class="content" data-bind="text: content3"></div>
	                <h5>需要帮助</h5><div class="content" data-bind="text: content4"></div>
	                <p align="right" data-bind="text: time"></p>
	              </div>
                <div data-bind="visible: $parent.editable()">
                今日日志<div><textarea id="content" rows="1" cols="30" required="required" placeholder="your score..." data-bind="text: content"></textarea></div>
                今日自评<div><textarea id="score" rows="1" cols="30" required="required" placeholder="your score..." data-bind="text: mark"></textarea></div>
                行得通的<div><textarea id="content1" rows="1" cols="30" required="required" placeholder="your score..." data-bind="text: content1"></textarea></div>
                待提高的<div><textarea id="content2" rows="1" cols="30" required="required" placeholder="your score..." data-bind="text: content2"></textarea></div>
                明日计划<div><textarea id="content3" rows="1" cols="30" required="required" placeholder="your score..." data-bind="text: content3"></textarea></div>
                需要帮助<div><textarea id="content4" rows="1" cols="30" required="required" placeholder="your score..." data-bind="text: content4"></textarea></div>
                <textarea style="display:none" id="dateTxt" rows="1" cols="30" required="required" placeholder="your score..." data-bind="text: date"></textarea>
                {{#if isAdmin}}
                <p class="btn btn-link delete" data-bind="attr: {reportId: id}">删除</p>
                {{/if}}
                <p class="btn btn-link update" data-bind="attr: {reportId: id}">修改</p>
                </div>

                <!-- <p class="btn btn-link reply" data-bind="attr: {reportId: id}">reply</p> -->
                <div data-bind="visible: !$parent.editable()"><p class="btn btn-link edit" data-bind="attr: {reportId: id}">快速编辑</p></div>
            </li>
        </ul>

        <div class="pagination" data-bind="if: pageNum() > 1">
            <button class="btn btn-mini pagePre" title="上一页"
                    data-bind="visible: currentPage()>1">&lt;&lt;</button>
            <span data-bind="text: currentPage() + '/' + pageNum()"></span>
            <button class="btn btn-mini pageNext" title="下一页"
                    data-bind="visible: currentPage() < pageNum()">&gt;&gt;</button>
        </div>
    </article>
</section>

<script type="text/javascript" src='/js/knockout-2.2.1.js'></script>
<script type="text/javascript" src='/js/ReportModel.js'></script>
<script type="text/javascript" src='/js/reportBase.js'></script>
<script type="text/javascript" src='/js/showReports.js'></script>
</body>
</html>