<!DOCTYPE html>
<html>
<head>
    <title>我的活动</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/reportStyle.css' />
    <link rel='stylesheet' href='/css/pepper-grinder/jquery-ui-1.10.3.custom.min.css' />
    <script type="text/javascript" src='/js/jquery-1.9.1.min.js'></script>
    <script type="text/javascript" src='/js/jquery-ui-1.10.3.custom.min.js'></script>
    <script type="text/javascript" src='/js/bootstrap.min.js'></script>

</head>
<body class="myreports">
<header class="navbar">
    <a class="brand" href="/" title="home page">Daily Report</a>
    <ul class="nav">
        <li><a href="/write">写日报</a></li>
        <li><a href="/show">日报</a></li>
        <li class="active"><a href="/show_summary">活动</a></li>
        {{#if hasSubordinate}}
        <li ><a href="/showsubordinate">下属日报</a></li>
        {{/if}}
        <li ><a href="/showcolleague">同事日报</a></li>
        <li ><a href="/message">发送私信</a></li>
        <li ><a href="/password">修改密码</a></li>
        {{#if isAdmin}}
        <li ><a href="/admin">管理员控制台</a></li>
        {{/if}}
        {{#if isLoginUser}}
        <li ><a href="/logout">退出</a></li>
        {{/if}}
    </ul>
    <a class="logo" href="/" title="home page"><img src="/img/logo.png"></a>
</header>
<div id="dialog-confirm" title="删除日报" style="display:none">
    <p>确认要删除该日报吗？</p>
</div>
<section class="container">
    <div class="title"> <i class="icon-book"></i><h1>我的活动</h1></div>

<table class="table table-striped">
    <thead>
    <tr>
        <th class="span3">日期</th>
        <th class="span2">CC</th>
        <th class="span2">录入Lists</th>
        <th class="span2">Follow Call</th>
        <th class="span2">约见客户</th>
        <th class="span2">折前</th>
        <th class="span2">折标</th>
    </tr>
    </thead>
    <tbody data-bind="foreach: reports">
    <tr>
        <td data-bind="text: date"></td>
        <td data-bind="text: cc"></td>
        <td data-bind="text: input"></td>
        <td data-bind="text: follow"></td>
        <td data-bind="text: meet"></td>
        <td data-bind="text: marks"></td>
        <td data-bind="text: back_marks"></td>
    </tr>
    </tr>
    </tbody>
</table>
<!--
    <article id="reportList" >
        <ul class="unstyled" data-bind="foreach: reports">
            <li class="report">
                <p class="date"><i class="icon-calendar"></i><span data-bind="text: date"></span></p>
                <div data-bind="visible: !$parent.editable()">
                  <span class="label label-success">有效CC (通)</span><div class="content" data-bind="text: cc"></div>
                  <span class="label label-success">录入Lists (个)</span><div class="content" data-bind="text: input"></div>
                  <span class="label label-success">Follow Call (通)</span><div class="content" data-bind="text: follow"></div>
                  <span class="label label-success">约见客户 (个)</span><div class="content" data-bind="text: meet"></div>

                  <span class="label label-inverse">今日成交</span><div class="content" data-bind="html: deal"></div>
	                <span class="label label-inverse">折前 (万)</span><div class="content" data-bind="text: marks"></div>
	                <span class="label label-inverse">折标 (万)</span><div class="content" data-bind="text: back_marks"></div>
	                <span class="label label-warning">反思提高</span><div class="content" data-bind="text: content1"></div>

	                <span class="label label-info">明日计划</span><div class="content" data-bind="text: content3"></div>
	                <span class="label label-important">需要帮助</span><div class="content" data-bind="text: content4"></div>
	                <p class="muted text-right" data-bind="text: time"></p>
	              </div>
                <div data-bind="visible: $parent.editable()">
                  <span class="label label-success">有效CC (通)</span>
                  <div><textarea class="input-xxlarge" id="cc" rows="1" required="required" data-bind="text: cc"></textarea></div>
                  <span class="label label-success">录入Lists (个)</span>
                  <div><textarea class="input-xxlarge" id="input" rows="1" required="required" data-bind="text: input"></textarea></div>
                  <span class="label label-success">Follow Call (通)</span>
                  <div><textarea class="input-xxlarge" id="follow" rows="1" required="required" data-bind="text: follow"></textarea></div>
                  <span class="label label-success">约见客户 (个)</span>
                  <div><textarea class="input-xxlarge" id="meet" rows="1" required="required" data-bind="text: meet"></textarea></div>

                  <span class="label label-inverse">今日成交</span>
                  <div><textarea class="input-xxlarge" id="deal" rows="1" required="required" data-bind="text: deal"></textarea></div>
                  <span class="label label-inverse">折前 (万)</span>
                  <div><textarea class="input-xxlarge" id="marks" rows="1" required="required" data-bind="text: marks"></textarea></div>
                  <span class="label label-inverse">折标 (万)</span>
                  <div><textarea class="input-xxlarge" id="back_marks" rows="1" required="required" data-bind="text: back_marks"></textarea></div>
                  <span class="label label-warning">反思提高</span>
                  <div><textarea class="input-xxlarge" id="content1" rows="1" required="required" data-bind="text: content1"></textarea></div>

	                <span class="label label-info">明日计划</span><div><textarea class="input-xxlarge" id="content3" rows="1" required="required" placeholder="your score..." data-bind="text: content3"></textarea></div>
	                <span class="label label-important">需要帮助</span><div><textarea class="input-xxlarge" id="content4" rows="1" required="required" placeholder="your score..." data-bind="text: content4"></textarea></div>

	                <textarea style="display:none" id="dateTxt" rows="1" cols="30" required="required" placeholder="your score..." data-bind="text: date"></textarea>

	                <p class="btn btn-small update" data-bind="attr: {reportId: id}">保存修改</p>
	                {{#if isAdmin}}
	                <p class="btn btn-link delete" data-bind="attr: {reportId: id}">删除</p>
	                {{/if}}
                </div>

                <div data-bind="visible: !$parent.editable()"><p class="btn btn-small edit" data-bind="attr: {reportId: id}">快速编辑</p></div>
            </li>
        </ul>

        <div class="pagination" data-bind="if: pageNum() > 1">
            <button class="btn btn-mini pagePre" title="上一页"
                    data-bind="visible: currentPage()>1">&lt;&lt;</button>
            <span data-bind="text: currentPage() + '/' + pageNum()"></span>
            <button class="btn btn-mini pageNext" title="下一页"
                    data-bind="visible: currentPage() < pageNum()">&gt;&gt;</button>
        </div>
    </article>
    -->
</section>

<script type="text/javascript" src='/js/knockout-2.2.1.js'></script>
<script type="text/javascript" src='/js/ReportModel.js'></script>
<script type="text/javascript" src='/js/reportBase.js'></script>
<script type="text/javascript" src='/js/showReports.js'></script>
</body>
</html>