<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>写日报</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/reportStyle.css' />
    <link rel='stylesheet' href='/css/pepper-grinder/jquery-ui-1.10.3.custom.min.css' />
    <script type="text/javascript" src='/js/jquery-1.9.1.min.js'></script>
    <script type="text/javascript" src='/js/jquery-ui-1.10.3.custom.min.js'></script>
    <script type="text/javascript" src='/js/bootstrap.min.js'></script>
</head>
<body class="writing">
<header class="navbar">
    <a class="brand" href="/" title="home page">Daily Report</a>
    <ul class="nav">
        <li class="active"><a href="/write">写日报</a></li>
        <li><a href="/show">日报</a></li>
        <li><a href="/show_summary">活动</a></li>
        {{#if hasSubordinate}}
        <li ><a href="/showsubordinate">下属日报</a></li>
        {{/if}}
        <li ><a href="/showcolleague">同事日报</a></li>
        <li ><a href="/message">发送私信</a></li>
        <li ><a href="/password">修改密码</a></li>
        {{#if isAdmin}}
        <li ><a href="/admin">管理员控制台</a></li>
        {{/if}}
        {{#if isLoginUser}}
        <li ><a href="/logout">退出</a></li>
        {{/if}}
    </ul>
    <a class="logo" href="/" title="home page"><img src="/img/logo.png"></a>
</header>

<section class="container">
    <article id="reportCreation">

   <div class="input-prepend">
  <span class="add-on">日期:</span>
  <input class="span2" id="dateTxt" type="text" required="required" data-bind="value:dateTxt, valueUpdate:'keyup'"/>
</div>


  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#"><i class="icon-file"></i> Daily Activities</a>
    </li>
  </ul>
  <div class="hero-unit">
<div class="row-fluid">
  <div class="span3">
    <label for="cc"><span class="label label-success">有效CC</span></label>
      <div class="input-append">
        <input class="span10" id="cc" type="number" required="required" value="0"></input>
        <span class="add-on">通</span>
      </div>
  </div>
  <div class="span3">
    <label for="input"><span class="label label-success">录入Lists</span></label>
      <div class="input-append">
        <input class="span10" id="input" type="number" required="required" value="0"></input>
        <span class="add-on">个</span>
      </div>
  </div>
  <div class="span3">
    <label for="follow"><span class="label label-success">Follow Call</span></label>
      <div class="input-append">
        <input class="span10" id="follow" type="number" required="required" value="0"></input>
        <span class="add-on">通</span>
      </div>
  </div>
  <div class="span3">
    <label for="meet"><span class="label label-success">约见客户</span></label>
      <div class="input-append">
        <input class="span10" id="meet" type="number" required="required" value="0"></input>
        <span class="add-on">个</span>
      </div>
</div>
</div>
</div>

  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#"><i class="icon-file"></i> Gains and Grows</a>
    </li>
  </ul>
   <div class="hero-unit">
  <div class="row-fluid">
  <div class="span3">
    <label for="marks"><span class="label label-inverse">今日成交折前</span></label>
      <div class="input-append">
        <input class="span10" id="marks" type="number" required="required" value="0"></input>
        <span class="add-on">万</span>
      </div>
  </div>
  <div class="span3">
    <label for="back_marks"><span class="label label-inverse">折标</span></label>
      <div class="input-append">
        <input class="span10" id="back_marks" type="number" required="required" value="0"></input>
        <span class="add-on">万</span>
      </div>
  </div>
  <div class="span6">
    <label for="deal"><span class="label label-inverse">产品名称</span></label>
    <input class="span10" id="deal" type="text" required="required" value="暂无"></input>
        <!--<select id="deal" multiple required="required">
             <option>暂无</option>
             <option>固收</option>
             <option>亿百润</option>
             <option>股权</option>
             <option>二级市场</option>
             <option>美元产品</option>
             <option>保险</option>
             <option>其他</option>
            </select>-->
      </div>
      <label for="content1"><span class="label label-warning">反思&提高</span></label>
            <textarea id="content1" rows="2" required="required"
                      placeholder="不得为空"></textarea>
  </div></div>


  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#"><i class="icon-file"></i> Plan and Support</a>
    </li>
  </ul>
  <div class="hero-unit">
  <div class="row-fluid">
  <div class="span6">
<label for="content3"><span class="label label-info">明日计划</span></label>
            <textarea id="content3" rows="3" required="required"
                      placeholder="不得为空"></textarea>
                      </div>
          <div class="span6">
            <label for="content4"><span class="label label-important" onclick="$('#content4').show();">需要帮助 (点击填写，默认无)</span></label>
            <textarea id="content4" rows="3" placeholder="可以为空" style="display:none"></textarea>
</div>
</div>
</div>
        <div><input id="reportSubmitBtn" type="button" value="发布" class="btn btn-primary" data-bind="enable:validDateTxt()"/></div>
    </article>
</section>

<script type="text/javascript" src='/js/knockout-2.2.1.js'></script>
<script type="text/javascript" src='/js/validator-min.js'></script>
<script type="text/javascript" src='/js/ReportModel.js'></script>
<script type="text/javascript" src='/js/writeReport.js'></script>
</html>