
<div data-role="page" id="writePage">
<div data-role="header" data-position="fixed">
   <h1>写日报</h1>
   <a href="#mypanel" data-icon="gear" class="ui-btn-right">设置</a>
</div>
<div data-role="content">
    <article id="reportCreation">
        <div data-role="fieldcontain">
            <label for="dateTxt">日期:</label>
            <input id="dateTxt" type="date" value="{{currentDateStr}}"/>
        </div>
        <div data-role="fieldcontain">
            <label for="content">今日日报:</label>
            <textarea id="content" rows="4" required="required"
                      placeholder="Here is your daily report..."></textarea>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
            <legend>今日自评:</legend>
            <input type="radio" name="radio-choice-b" id="radio-choice-c" value="1">
            <label for="radio-choice-c">1</label>
            <input type="radio" name="radio-choice-b" id="radio-choice-d" value="2">
            <label for="radio-choice-d">2</label>
            <input type="radio" name="radio-choice-b" id="radio-choice-e" value="3" checked="checked">
            <label for="radio-choice-e">3</label>
            <input type="radio" name="radio-choice-b" id="radio-choice-f" value="4">
            <label for="radio-choice-f">4</label>
            <input type="radio" name="radio-choice-b" id="radio-choice-g" value="5">
            <label for="radio-choice-g">5</label>
          </fieldset>
        </div>
        <div data-role="fieldcontain">
            <label for="content1">行得通的:</label>
            <input type="text" name="text-basic" id="content1" required="required" placeholder="seems work..." value="">
        </div>
        <div data-role="fieldcontain">
            <label for="content2">待提高的:</label>
            <input type="text" name="text-basic" id="content2" required="required" placeholder="need improve..." value="">
        </div>
        <div data-role="fieldcontain">
            <label for="content3">明日计划:</label>
            <input type="text" name="text-basic" id="content3" required="required" placeholder="plan for tomorrow..." value="">
        </div>
        <div data-role="fieldcontain">
            <label for="content4">需要帮助:</label>
            <input type="text" name="text-basic" id="content4" required="required" placeholder="need help..." value="">
        </div>
        <div data-role="fieldcontain">
            <input id="reportSubmitBtn" type="button" value="发布" class="btn btn-primary"
                   data-theme="b"/>
        </div>
    </article>
</div>

    <div data-role="footer" data-position="fixed">
        <div data-role="navbar" data-iconpos="left">
            <ul>
                <li><a href="#" data-icon="edit" class="ui-btn-active">写日报</a></li>
                <li><a href="/m/show" data-icon="bars">我的日报</a></li>
                {{#if hasSubordinate1 }}
                <li><a href="/m/showsubordinate" data-icon="grid">下属日报</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
    <div data-role="panel" id="mypanel">
        <ul data-role="listview" data-inset="true" data-theme="e">
            <li><a href="/m/password">修改密码</a></li>
            <li><a href="/m/logout">退出登录</a> </li>
        </ul>
    </div>
</div>
<div data-role="page" id="writeErrorPage">
    <div data-role="header">
        <h1>错误提示</h1>
    </div>
    <div data-role="content">
        <p>日期格式为xxxx-xx-xx（例如 2013-5-3）并且日报内容不能为空。</p>
    </div>
</div>
<script>
    $("#writePage").bind("pagecreate", function(e) {
        init();
    });
</script>